body {
    background-image: url(img/as.jpg);
    padding: 90px ;
    color : rgb(236, 97, 16);
}

.avatar {
    border-radius: 100px;
}

h3 {
    font-family: 'Shippori Antique B1', sans-serif;
}

p {
    font-family: 'Shippori Antique B1', sans-serif;
}

button {
    color: rgb(5, 5, 5);
    margin-bottom: 20px;
    background-color: white;
    border: 0;
    width: 50ex;
    padding: 10px 0 10px 0;
    border-radius: 100ex;
    font-family: 'Roboto Condensed ' , cursive ;
    font-size: 15px;
    transition-duration: 0.3s ;
    transition-property: color , background-color ;
}

.button:hover {
    color: white;
    background-color:  rgb(231, 148, 71);
}

